In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
%matplotlib inline

In [14]:
import pandas as pd
import numpy as np

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('paper')
sns.set_style('white')

In [16]:
import sys
sys.path.append('/home/dan')

In [17]:
import bclm

In [18]:
dev_df = bclm.read_dataframe('spmrl', subset='dev')
dev_df.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,...,deps,misc,ner_escaped,set,duplicate_sent_id,very_similar_sent_id,biose_layer0,biose_layer1,biose_layer2,biose_layer3
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1,...,_,_,_,dev,NaN,NaN,O,O,O,O
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1,...,_,_,_,dev,NaN,NaN,O,O,O,O
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A|HebBinyan=HIFIL,3,1,מגיעים,1,...,_,_,_,dev,NaN,NaN,O,O,O,O
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1,...,_,_,_,dev,NaN,NaN,O,O,O,O
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1,...,_,_,GPE,dev,NaN,NaN,S-GPE,O,O,O

In [19]:
yap_dev_df = bclm.read_yap_output('dev')
yap_dev_df.head()

,id,form,lemma,upostag,xpostag,feats,head,deprel,deps,misc,sent_id,token_id,token_str
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,2,num,_,_,1,1,עשרות
1,2,אנשים,איש,NN,NN,gen=M|num=P,3,subj,_,_,1,2,אנשים
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,14,conj,_,_,1,3,מגיעים
3,4,מ,מ,PREPOSITION,PREPOSITION,NaN,3,comp,_,_,1,4,מתאילנד
4,5,תאילנד,תאילנד,NNP,NNP,gen=F|num=S,4,pobj,_,_,1,4,מתאילנד

In [41]:
cols = ['sent_id', 'token_id', 'form', 'upostag']

gold_dev_multi_set = bclm.create_multi_set_from_df(dev_df, cols)
yap_dev_multi_set = bclm.create_multi_set_from_df(yap_dev_df, cols)

#correct = gold_dev_multi_set.intersection(yap_dev_multi_set)
bclm.evaluate_multi_sets(gold_dev_multi_set, yap_dev_multi_set)

11301 gold tokens/morphems, 11426 predicted, 10445 correct.
Precision: 91.41
Recall:    92.43
F1:        91.92
FP ex.: [(1, 5, 'לישראל', 'NNP'), (1, 8, 'ה', 'DEF'), (2, 11, 'דנה', 'BN'), (3, 4, 'ח"כ', 'NNT'), (3, 28, 'הם', 'S_PRN')]
FN ex.: [(1, 5, 'ישראל', 'NNP'), (1, 5, 'ל', 'PREPOSITION'), (2, 11, 'דנה', 'VB'), (3, 4, 'ח"כ', 'NN'), (3, 28, 'המ', 'S_PRN')]

(91.41431822159986, 92.42544907530306, 91.91710300523606)

### Or use

In [42]:
bclm.evaluate_files(treebank_gold_set='dev', yap_pred_set='dev')

[(1, 1, 'עשרות', 'CDT'), (1, 2, 'אנשים', 'NN'), (1, 3, 'מגיעים', 'BN'), (1, 4, 'מ', 'PREPOSITION'), (1, 4, 'תאילנד', 'NNP')]
[(1, 1, 'עשרות', 'CDT'), (1, 2, 'אנשים', 'NN'), (1, 3, 'מגיעים', 'BN'), (1, 4, 'מ', 'PREPOSITION'), (1, 4, 'תאילנד', 'NNP')]
11301 gold tokens/morphems, 11426 predicted, 10445 correct.
Precision: 91.41
Recall:    92.43
F1:        91.92
FP ex.: [(1, 5, 'לישראל', 'NNP'), (1, 8, 'ה', 'DEF'), (2, 11, 'דנה', 'BN'), (3, 4, 'ח"כ', 'NNT'), (3, 28, 'הם', 'S-PRN')]
FN ex.: [(1, 5, 'ישראל', 'NNP'), (1, 5, 'ל', 'PREPOSITION'), (2, 11, 'דנה', 'VB'), (3, 4, 'ח"כ', 'NN'), (3, 28, 'המ', 'S-PRN')]

(91.41431822159986, 92.42544907530306, 91.91710300523606)

There is an issue with test set YAP outputs - duplicates were dropped in new version of treebank, so sentences don't align

In [43]:
bclm.evaluate_files(treebank_gold_set='test', yap_pred_set='test')

[(1, 1, 'אחרים', 'JJ'), (1, 2, 'ב', 'PREPOSITION'), (1, 2, 'ה', 'DEF'), (1, 2, 'תנועה', 'NN'), (1, 3, 'ה', 'DEF')]
[(1, 1, 'ה', 'DEF'), (1, 1, 'כל', 'DTT'), (1, 2, 'נושאים', 'NN'), (1, 3, 'עמם', 'VB'), (1, 4, 'את', 'AT')]
16998 gold tokens/morphems, 17049 predicted, 409 correct.
Precision: 2.4
Recall:    2.41
F1:        2.4
FP ex.: [(1, 1, 'ה', 'DEF'), (1, 1, 'כל', 'DTT'), (1, 2, 'נושאים', 'NN'), (1, 3, 'עמם', 'VB'), (1, 4, 'את', 'AT')]
FN ex.: [(1, 1, 'אחרים', 'JJ'), (1, 2, 'ב', 'PREPOSITION'), (1, 2, 'ה', 'DEF'), (1, 2, 'תנועה', 'NN'), (1, 3, 'ה', 'DEF')]

(2.3989676813889376, 2.4061654312272034, 2.4025611654477634)